
form.card {
  margin-top: 35px;
}

input[type='submit'] {
  width: 150px;
}

div#template_answer, 
div#template_question {
  border: 2px solid #ddd;
  float: left;
  background-color: pink;
  margin: 0 0 20px 35px;
}

.template {
  height: 210px;
  width: 325px;
  font-size: 18px;
}

/* Styles */

.plain_style {
  background-color: white;
}

.template table {
  width: 100%;
  height: 100%;
  font-weight: bold;
}

/* Each phrase is in a single td */
.template td {
  margin: auto;
  width: 90%;
  text-align: center;
}

/* Template centered single */

div.centered_single td {
  vertical-align: middle;
  height: 90%;
}

div.centered_double td.line_0 {
  vertical-align: bottom;
  height: 50%;
}

div.centered_double td.line_1 {
  vertical-align: top;
  height: 50%;
}

.template td.line_2 {
  font-size: 30px;
}

.template input,
.template textarea {
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
  border: 0px;
  width: 90%;
  resize: none;
}

.template input:focus,
.template textarea:focus {
  outline: none;
} 

.template input.ghosted,
.template textarea.ghosted {
  color: #999;
  background-color: #eee;
}
