div.roundify h4 {
	color: magenta;
	font-size: 15px;
	font-weight: bold;
}

div.roundify h4 span {
	font-size: 11px;
	color: #333;
	text-transform: uppercase;
}

div.roundify,
div.roundify h3,
div.roundify div.r1,
div.roundify div.r2 {
  background: transparent url(/images/roundify/header.png) no-repeat;
}

div.roundify.plain div.r1 {
  background: transparent url(/images/roundify/plain.png) top right no-repeat;
}

div.roundify h3.small,
div.roundify.small div.r1 {
  background: transparent url(/images/roundify/small_header.png) top right no-repeat;
}

div.roundify h3.large,
div.roundify.large div.r1 {
  background: transparent url(/images/roundify/large_header.png) top right no-repeat;
}

div.roundify {
  position: relative;
  margin: 0;
  padding: 0;
  background-position: bottom right;
  margin-bottom: 18px;
}

div.roundify div.r1 {
  background-position: top right;
}

div.roundify div.r1 h3 {
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  height: 40px;
  line-height: 27px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin: 0 10px 0 0;
  text-align: center;
  background-position: top left;
}

div.roundify.small h3.small span.note,
div.roundify.large h3.large span.note {
  font-size: 11px;
  margin-left: 7px;
}

div.roundify div.r1 h3.large,
div.roundify div.r1 h3.small {
  color: #666;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 15px;
}

div.roundify div.r1 h3.small {
  font-size: 14px;
  padding-top: 2px;
}

div.roundify div.r1 h3.large {
  font-size: 18px;
  line-height: 40px;
}


div.roundify div.r2 {
  padding-left: 15px;
  padding-bottom: 10px;
  margin-right: 15px;
  background-position: bottom left;
}

div.roundify div.r3 {
  font-size: 1px; /* for ie6 */
  height: 10px;
  margin-right: 15px;
  background: transparent url(/images/roundify/plain.png) top left no-repeat;
}


/* roundify green style */
div.roundify.green,
div.roundify.green h3,
div.roundify.green div.r1,
div.roundify.green div.r2,
div.roundify.green div.r3 {
  background: transparent url(/images/roundify/green.png) no-repeat;
}

div.roundify.green { background-position: bottom right; }
div.roundify.green div.r1 { background-position: top right; }
div.roundify.green div.r2 { background-position: bottom left; }
div.roundify.green div.r3 { background-position: top left; }
