@import "reset.css";
@import "typography.css";
@import "notification.css";

body {
  background: #fff url(/images/header_background.png) repeat-x scroll 0% 0%;
}

#header-wrap {
	height: 118px;
}

#header {
  color: white;
	padding: 17px 25px 0 25px;
	margin: auto;
	clear: both;
	width: 800px;
}

#header h1 {
  clear: none;
}
#header h1 a:hover {
  text-decoration: none;
}

#header h2 {
  font-family: Courier;
  font-size: 18px;
  letter-spacing: .15em;
}

#header a {
  color: white;
}

#wrapper {
 	margin: 0px auto;
	border: 0px;
	width: 800px;
}

#content { 
	padding: 0 25px 25px 25px;
	float: left;
	width: 95%;
}

#footer {
  padding-top: 2em;
  text-align: center;
	clear: both;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

input[type='text'],
input[type='password'],
textarea {
  font-size: 16px;
  padding: 2px;
  border: 2px solid #d1d1d1;
}

input[type='submit'] {
  width: 60px;
}

h3 span {
  font-size: 11px;
}

.presence {
  float: right;
  font-size: 1.25em;
}

.deck {
  margin-top: 1.5em;
  padding: 5px 0px;
  border-bottom: 1px solid #EEEEEE;
}

.deck .icon {
  float: left;
  margin-right: 16px;
}

.deck p {
  padding: 0px;
  margin: 0px;
}

.deck p.note {
  font-size: .9em;
  color: #666;
}

ul.accounts.decks li.deck {
  font-size: 2em;
  padding-left: 0px;
  margin-top: 5px;
  border-bottom: 1px solid #EEEEEE;
}

li.card.summary {
  margin-top: 1em;
  width: 450px;
  font-size: 1.25em;
  padding: 5px 30px 5px 20px;
}

li.card.summary p.question span,
li.card.summary p.answer span {
  font-size: 1.25em;
  font-weight: bold;
  padding-right: .25em;
}

.tags {
  font-size: .9em;
  color: #666;
}

div#sign_in {
  width: 400px;
  margin: 50px auto 0px;
}

div#sign_in h1 {
  margin-bottom: 40px;;
}

#sign_in label {
  display: block;
  font-weight: bold;
  font-size: 1.25em;
}

#sign_in #email,
#sign_in #password {
  font-size: 16px;
  width: 390px;
}

div.edit {
  width:  400px;
  margin: 50px auto 0px;
}

div.edit h1 {
  margin-bottom: 40px;;
}

div.edit label {
  display: block;
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 1.5em;
}

div.edit .note {
  font-size: .95em;
  color: #555;
}

div.edit input[type='text'],
div.edit textarea {
  width: 390px;
}

div.edit input.name {
  font-size: 24px;
  font-weight: bold;
}

div.search input[type='text'] {
  width: 280px;
  font-size: 1.25em;
  border: 1px solid #999;
  padding: 4px;
}

input.ghosted,
textarea.ghosted {
  color: #999;
}

/** This overrides some of the above **/
@import "card.css";
